.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.navbar-brand{
  text-decoration: none;
}

.carousel-img{
  height: 50vh;
}