@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Libre+Baskerville&display=swap');

body {
  text-align: center;
  background-color: #decbba;
}

h1{
  font-family: 'Dancing Script', "cursive";
  font-size: 4em;
}

.navbar{
background-color: #b98c87;
}
.navbar-brand{
  text-decoration: none;
  color: #674440;
  font-family: 'Dancing Script', "cursive";
}

.carousel-img{
  height: 50vh;
}

.carousel-item:before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(189, 188, 188, 0.7);
}